In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df_file = '/stor/work/Lambowitz/cdw2854/plasmaDNA/genes/rna.csv'
df = pd.read_csv(df_file)
df.head()

              Gene Gene name     Sample  Value Unit
0  ENSG00000000003    TSPAN6      A-431   27.8  TPM
1  ENSG00000000003    TSPAN6       A549   37.6  TPM
2  ENSG00000000003    TSPAN6       AF22  108.2  TPM
3  ENSG00000000003    TSPAN6     AN3-CA   51.8  TPM
4  ENSG00000000003    TSPAN6  ASC TERT1   17.8  TPM

In [5]:
df.describe(include='all')

                   Gene Gene name   Sample         Value     Unit
count           1825404   1825404  1825404  1.825404e+06  1825404
unique            19628     19610       93           NaN        1
top     ENSG00000235750    AKR1C3    U-698           NaN      TPM
freq                 93       186    19628           NaN  1825404
mean                NaN       NaN      NaN  4.054246e+01      NaN
std                 NaN       NaN      NaN  4.105343e+02      NaN
min                 NaN       NaN      NaN  0.000000e+00      NaN
25%                 NaN       NaN      NaN  1.000000e-01      NaN
50%                 NaN       NaN      NaN  4.200000e+00      NaN
75%                 NaN       NaN      NaN  2.050000e+01      NaN
max                 NaN       NaN      NaN  1.056320e+05      NaN

In [7]:
df['Sample'].unique()

array(['A-431', 'A549', 'AF22', 'AN3-CA', 'ASC TERT1', 'BEWO', 'BJ',
       'BJ hTERT+', 'BJ hTERT+ SV40 Large T+',
       'BJ hTERT+ SV40 Large T+ RasG12V', 'CACO-2', 'CAPAN-2', 'Daudi',
       'EFO-21', 'HaCaT', 'HBF TERT88', 'HDLM-2', 'HEK 293', 'HEL', 'HeLa',
       'Hep G2', 'HL-60', 'HMC-1', 'hTCEpi', 'HUVEC TERT2', 'K-562',
       'Karpas-707', 'LHCN-M2', 'MCF7', 'MOLT-4', 'NB-4', 'NTERA-2',
       'PC-3', 'REH', 'RH-30', 'RPMI-8226', 'RPTEC TERT1', 'RT4',
       'SCLC-21H', 'SH-SY5Y', 'SiHa', 'SK-BR-3', 'SK-MEL-30', 'T-47d',
       'THP-1', 'TIME', 'U-138 MG', 'U-2 OS', 'U-2197', 'U-251 MG',
       'U-266/70', 'U-266/84', 'U-698', 'U-87 MG', 'U-937', 'WM-115',
       'adipose tissue', 'adrenal gland', 'appendix', 'bone marrow',
       'breast', 'cerebral cortex', 'cervix, uterine', 'colon', 'duodenum',
       'endometrium', 'epididymis', 'esophagus', 'fallopian tube',
       'gallbladder', 'heart muscle', 'kidney', 'liver', 'lung',
       'lymph node', 'ovary', 'pancreas', 'parathyroid gland', 'placenta',
       'prostate', 'rectum', 'salivary gland', 'seminal vesicle',
       'skeletal muscle', 'skin', 'small intestine', 'smooth muscle',
       'spleen', 'stomach', 'testis', 'thyroid gland', 'tonsil',
       'urinary bladder'], dtype=object)